# Node
node_modules
schema

# wasm
/target
/schema
target*
*.wasm
*.gz

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# env variables
.env

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs
*.iml
.idea
.wasm

# e2e tests
vendor

secret-crates/quartz