CHAIN_ID=pulsar-3
WALLET_PRIVATE_KEY=goat action fuel major strategy adult kind sand draw amazing pigeon inspire antenna forget six kiss loan script west jaguar again click review have
CONTRACT_WASM_FILE=./target/wasm32-unknown-unknown/release/secret_headstash.wasm